# Ignore all Terraform state, lock files, and crash logs in the test directory
/test/.terraform/
/test/*.tfstate
/test/*.tfstate.backup
/test/.terraform.lock.hcl
/test/crash.log

# Ignore all Terraform state, lock files, and crash logs in the prod directory
/prod/.terraform/
/prod/*.tfstate
/prod/*.tfstate.backup
/prod/.terraform.lock.hcl
/prod/crash.log
